{
	"id": "0308b12a-9ce1-1f6b-ed23-7faeb201e58e",
	"name": "BAS People API - Version 1",
	"values": [
		{
			"key": "auth-username",
			"value": "{{ api_username }}",
			"type": "text",
			"name": "auth-username",
			"enabled": true
		},
		{
			"key": "auth-password",
			"value": "{{ api_password }}",
			"type": "text",
			"name": "auth-password",
			"enabled": true
		}
	],
	"timestamp": 1442148800880,
	"synced": false,
	"syncedFilename": ""
}
